<div class="box">
  <div class="box-title">&#128196; Menu</div>
  <div class="box-body nav-body">
    <span class="nav-link">&#9658; Inicio</span>
    <span class="nav-link">&#9658; Top 10</span>
    <span class="nav-link">&#9658; Por artista</span>
    <span class="nav-link">&#9658; Novedades</span>
    <span class="nav-link">&#9658; Contacto</span>
    <span class="nav-link">&#9658; Links</span>
    <span class="nav-link">&#9658; Libro de visitas</span>
  </div>
</div>

<div class="box">
  <div class="box-title">&#128200; Stats</div>
  <div class="box-body">
    <div class="stat-line">Canciones: <b>{{ songService.songs().length }}</b></div>
    <div class="stat-line">Artistas: <b>{{ songService.totalArtists() }}</b></div>
    <div class="star-row">&#9733;&#9733;&#9733;&#9733;&#9733;</div>
  </div>
</div>

<div class="box">
  <div class="box-title">&#128279; Mis Links</div>
  <div class="box-body nav-body">
    <span class="nav-link small">Myspace</span>
    <span class="nav-link small">Fotolog</span>
    <span class="nav-link small">MSN Groups</span>
    <span class="nav-link small">Napster</span>
  </div>
</div>

<div class="ad-box">
  <div class="ad-title">ANUNCIO</div>
  <div class="ad-text">Haz clic aqui para ganar una copia de Half-Life!!!</div>
  <div class="ad-blink">GRATIS</div>
</div>
