<div class="top-banner">
  <marquee scrollamount="3">
    *** BIENVENIDO A MI PAGINA DE MUSICA *** ACTUALIZADO HOY *** MUSICA DEL 2000 *** TUS CANCIONES FAVORITAS ***
  </marquee>
</div>

<div class="main-title-box">
  <div class="title-row">
    <div class="hit-gif">HIT MUSIC!</div>

    <div class="title-center">
      <div class="main-title">&#9835; MIS CANCIONES &#9835;</div>
      <div class="main-subtitle">-- La mejor base de datos musical de la red --</div>
    </div>

    <div class="hit-gif">HIT MUSIC!</div>
  </div>

  <div class="title-footer">
    <span class="visitor-counter">Visitas: {{ visits }}</span>
    &nbsp;
    <span class="blink">&#9733; NUEVO &#9733;</span>
  </div>
</div>
