<div class="page" [class.unauthenticated]="!authService.isAuthenticated()">
  <app-header />

  <div class="layout">
    <app-sidebar (viewChange)="onViewChange($event)" />

    <div class="main-col">
      <app-song-form *ngIf="currentView() === 'songs'" />
      <app-song-list *ngIf="currentView() === 'songs'" />
      <app-top-artists *ngIf="currentView() === 'top10'" />
      <app-novedades *ngIf="currentView() === 'novedades'" />
    </div>
  </div>

  <app-footer />
</div>
